<%= image_tag("Logo-Hop3Dex.png", alt: "Logo", class: "w-16 mx-auto") %>

<header>
      <div class="flex mx-auto mt-16">
      <form action="/search" method="get" class="flex mx-auto">
        <input type="text" name="q" placeholder="Search..." class="px-2 py-1 border rounded-md">
        <button type="submit" class="ml-2 px-2 py-1 bg-blue-500 text-white rounded-md">Search</button>
      </form>
    </div>
</header>