<div class="mb-5">
  <%= image_tag("Logo-Hop3Dex.png", alt: "Logo", class: "w-80 h-auto mx-auto") %>
</div>

<% if params[:type].present? %>
  <div class="text-lg font-semibold mb-4">
    Résultat du filtrage par type : <%= params[:type] %>
  </div>
<% end %>

<%= form_with url: export_pokemons_path(format: :csv), method: :get, local: true, class: "container mb-20 w-full mx-auto" do %>
  <div class="overflow-x-auto w-full">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @pokemons.each do |pokemon| %>
        <%= render partial: 'shared/cardPokemon', locals: { pokemon: pokemon } %>
      <% end %>
    </div>
  </div>
<% end %>